{% extends "base.html" %}

{% block title %}Customer Dashboard{% endblock %}

{% block content %}
<h2>Available Services</h2>

<table class="table mt-4">
    <thead>
        <tr>
            <th>ID</th>
            <th>Service Name</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for service in services %}
        <tr>
            <td>{{ service.id }}</td>
            <td>{{ service.name }}</td>
            <td>{{ service.price }}</td>
            <td>
                <a href="/customer/request/new/{{ service.id }}" class="btn btn-primary">Request Service</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
