{% extends "service_panel/base.html" %}

{% block content %}
<div class="container mt-4">
    <section id="requested-services">
        <h3>Requested Services</h3>
            <table class="table table-bordered">
                <thead class="table-secondary">
                    <tr>
                        <th>ID</th>
                        <th>Customer Name</th>
                        <th>Contact No</th>
                        <th>Location</th>
                        <th>Pincode</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for service in today_services %}
                    <tr>
                        <td>{{ service.req_id }}</td>
                        <td>{{ service.user_name }}</td>
                        <td>{{ service.contact }}</td>
                        <td>{{ service.address }}</td>
                        <td>{{ service.pincode }}</td>
                        <td>{{ service.status }}</td>
                        <td>
                            {% if service.status == 'Requested' %}
                                <a href="{{ url_for('professional.accept_service', service_id=service.req_id) }}" 
                                    class="btn btn-success btn-sm">Accept</a>
                                <a href="{{ url_for('professional.reject_service', service_id=service.req_id) }}" 
                                    class="btn btn-danger btn-sm">Reject</a>
                            {% endif %}
                         
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if not today_services %}
                <p>No services for today.</p>
            {% endif %}
    </section>

    <!-- <-- Accepted Services -->

    <section id="accepted-services">
        <h3>Accepted Services</h3>
            <table class="table table-bordered">
                <thead class="table-secondary">
                    <tr>
                        <th>ID</th>
                        <th>Service</th>
                        <th>Customer Name</th>
                        <th>Contact No</th>
                        <th>Location</th>
                        <th>Pincode</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for service in accept %}
                    <tr>
                        <td>{{ service.req_id }}</td>
                        <td>{{ service.name }}</td>
                        <td>{{ service.user_name }}</td>
                        <td>{{ service.contact }}</td>
                        <td>{{ service.address }}</td>
                        <td>{{ service.pincode }}</td>
                        <td>{{ service.status }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if not today_services %}
                <p>No services for today.</p>
            {% endif %}
    </section>

    <!-- Rejected Services -->

    <section id="rejected-services">
        <h3>Rejected Services</h3>
            <table class="table table-bordered">
                <thead class="table-secondary">
                    <tr>
                        <th>ID</th>
                        <th>Service</th>
                        <th>Customer Name</th>
                        <th>Contact No</th>
                        <th>Location</th>
                        <th>Pincode</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for service in reject %}
                    <tr>
                        <td>{{ service.req_id }}</td>
                        <td>{{ service.name }}</td>
                        <td>{{ service.user_name }}</td>
                        <td>{{ service.contact }}</td>
                        <td>{{ service.address }}</td>
                        <td>{{ service.pincode }}</td>
                        <td>{{ service.status }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if not today_services %}
                <p>No services for today.</p>
            {% endif %}
    </section>

    <section id="closed-services" class="mt-5">
        <h3>Closed Services</h3>
            <table class="table table-bordered">
                <thead class="table-secondary">
                    <tr>
                        <th>ID</th>
                        <th>Service</th>
                        <th>Customer Name</th>
                        <th>Contact Phone</th>
                        <th>Location</th>
                        <th>Pincode</th>
                        <th>Close Date</th>
                        <th>Status</th>
                        <th>Rating</th>
                    </tr>
                </thead>
                <tbody>
                    {% for service in closed_services %}
                    <tr>
                        <td>{{ service.req_id }}</td>
                        <td>{{ service.name }}</td>
                        <td>{{ service.user_name }}</td>
                        <td>{{ service.contact }}</td>
                        <td>{{ service.address }}</td>
                        <td>{{ service.pincode }}</td>
                        <td>{{ service.close_date.strftime('%Y-%m-%d') }}</td>
                        <td>{{ service.status }}</td>
                        <td>{{ service.rating or 'N/A' }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if not closed_services %}
                <p>No closed services found.</p>
            {% endif %}
    </section>
</div>
{% endblock %}
